body {
  padding: 75px 20px 20px 20px;
}

#acm {
  position: fixed;
}

.chart {
  min-height: 350px;
}

.code-longbox {
  overflow: auto;
  text-overflow: ellipsis;
  font-family: monospace;
  word-wrap: break-word;
}

.row-expanded div {
  max-height: 500px;
}

.row-normal div {
  max-height: 50px;
}

.row-highlight {
  font-weight: bold;
}

.suggestions-panel {
  border-radius: 0 !important;
  box-shadow: 10px 0 50px #888888 !important;
  position: absolute !important;
  max-height: 500px;
  overflow: auto;
}

a.navbar-brand {
  padding: 8px;
}

.navbar-default {
  background-color: #49525A !important;
}

.legend-label {
  font-size: 10px;
  width: 100px;
  padding: 5px;
  margin: 0;
}

.legend-label:hover {
  cursor: pointer;
}

.navbar-fixed-bottom-custom {
  background-color: #ECF0F1;
}

/* C3 customizations. */

#main-container .c3-grid line {
  stroke: #ECF0F1; }

#main-container .c3-xgrid,
#main-container .c3-ygrid {
  stroke-dasharray: none; }

#main-container .c3-tooltip td {
  border-style: none;
}

/* UI legibility improvements. */

input#searchBox {
  border-color: transparent;
}

/* Sort icons */

.call-tracer-sort-inactive {
  color: #c9d5d6;
  font-size: 10px;
}

.call-tracer-sort-active {
  color: #95a5a6;
  font-size: 10px;
}