*~
*.swp

.\#*
\#*

.eunit

deps

*.o
*.beam
*.plt

*.DS_Store

Mnesia.*
erl_crash.dump
rebar3.crashdump
log/

*.coverdata

dialyzer.actual
dialyzer.expected.filtered

doc/html
doc/src/readme.md
apps/*/doc
.edts

cover/
.idea/
.vscode/

_build/

apps/xprof_gui/priv/build/*.js.map
apps/xprof_gui/priv/build-dev/
apps/xprof_gui/priv/bower_components/
apps/xprof_gui/priv/node_modules/

compile_commands.json
