*~
.\#*
\#*
.eunit
deps
*.o
*.beam
*.plt
*.DS_Store
*.swp
apps/*/logs
apps/*/ebin
rel/erlangcluster/adtech/erlangcluster
*/src/idl
Mnesia.*
erl_crash.dump
apps/rtbselector/src/rtb_service_*
snmp.txt
snmp-dsp
log/
.test/
.gitreview
*.coverdata
tags
dialyzer.actual
dialyzer.expected.filtered
doc
.edts
zeromq2
cover/
.idea/
_build/
build/
bower_components/
