*~
*.swp

.\#*
\#*

.eunit

deps

*.o
*.beam
*.plt

*.DS_Store

Mnesia.*
erl_crash.dump
log/

*.coverdata

dialyzer.actual
dialyzer.expected.filtered

doc
.edts

cover/
.idea/

_build/

priv/build/*.js.map
priv/bower_components/
priv/node_modules/

compile_commands.json
