{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{profiles,
 [{test,
   [{deps,
     [{cth_readable,
       {git, "https://github.com/ferd/cth_readable.git", {branch, "master"}}}
     ]}]},
  {dev,
   [{deps,
     [{sync, ".*",
       {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
     ]}]}
 ]}.

{deps,
 [{hdr_histogram, ".*",
   {git, "git://github.com/machinezone/hdr_histogram_erl.git",
    {branch, "master"}}},
  {cowboy, ".*",
   {git, "git://github.com/ninenines/cowboy.git", {branch, "1.0.x"}}},
  {lager, ".*",
   {git, "git://github.com/basho/lager.git", {branch, "2.x"}}},
  {jiffy, ".*",
   {git, "git://github.com/davisp/jiffy.git", {branch, "master"}}}
 ]}.

{overrides,
 [{override, jiffy,
   [{plugins,
     [{pc, {git, "git://github.com/blt/port_compiler.git", {branch, "master"}}}
     ]},
    {provider_hooks,
     [{post,
       [{compile, {pc, compile}},
        {clean, {pc, clean}}
       ]}]}
   ]}
 ]}.
