{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{edoc_opts, [{sort_functions, false},
             {pretty_printer, erl_pp},
             {preprocess, true}
            ]}.

{cover_excl_mods, [test_module]}.

{shell, [{apps, [sync, xprof]}]}.

{profiles,
 [{test,
   [{deps, [ {meck, "0.8.12"} ]},
    {plugins, [ {coveralls, "1.3.0"} ]}
   ]},
  {test_jiffy,
   [{deps, [ jiffy ]}
   ]},
  {dev,
   [{deps, [ {sync, "0.1.3"} ]}
   ]},
  {publish,
   [{plugins, [ {rebar3_hex, {git, "https://github.com/gomoripeti/rebar3_hex.git", {tag, "deps-3"}}} ]}
   ]}
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{coveralls_coverdata, [ "_build/test/cover/eunit.coverdata", "_build/test/cover/ct.coverdata" ]}.
