{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {platform_define, "^((1[8|9])|2)", rand_module}]}.

{ct_opts, [{ct_hooks, [cth_readable_failonly, cth_readable_shell]}]}.

{edoc_opts, [{sort_functions, false},
             {pretty_printer, erl_pp}
            ]}.

{cover_excl_mods, [test_module]}.

{shell, [{apps, [sync, xprof]}]}.

{profiles,
 [{test,
   [{deps, [ {cth_readable, "1.2.1"} ]}
   ]},
  {dev,
   [{deps, [ {sync, "0.1.3"} ]}
   ]}
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{coveralls_coverdata, [ "_build/test/cover/eunit.coverdata", "_build/test/cover/ct.coverdata" ]}.
{coveralls_service_name, "travis-ci"}.

{plugins, [
  rebar3_hex,
  {coveralls, "1.3.0"}
]}.
