{deps,
 [{hdr_histogram, "0.3.2"},
  {lager, "3.2.4"}
 ]}.

{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {platform_define, "^(R|17|18)", before_OTP_19},
            {platform_define, "^((1[8|9])|2)", rand_module},
            {platform_define, "^[^R1]", ceil_floor}
           ]}.
